<types namespace="_contextTesting">
  <type name="Context" desc="A context made with a constructor.">
    <fn opt name="_init" return="!Promise|void">
      The function to initialise the context.
    </fn>
    <fn opt name="_destroy" return="!Promise|void">
      The function to destroy the context.
    </fn>
  </type>
</types>